{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="w-full min-h-screen flex flex-col items-center justify-start bg-white p-4 ">
    {% if app.user %}
        <h1 class="text-3xl font-bold text-green-500 pb-20 pt-20">
            Bienvenue {{ last_username }} !
        </h1>
    {% else %}

    <h1 class="text-3xl font-bold text-green-500 pb-20 pt-20">
            Bienvenue!
        </h1>

    {% endif %}

    <p class="text-2xl font-bold text-black text-center max-w-2xl">
        Bienvenue sur notre site dédié au partage d'articles de presse, où vous pouvez découvrir, lire et partager des contenus variés issus de l'actualité et de différents médias.
    </p>
</div>


{% endblock %}
