{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}


<div class="w-full min-h-screen flex items-start justify-center bg-white p-4">
    <h1 class="text-2xl font-bold text-green-500">
        Hello {{ last_username }}!
    </h1>
</div>

{% endblock %}
